h1.background{
	width: 564px;
	height: 50px;
	background-color: purple;
	background-size: contain;
	background-position: center;
    text-align: center;
    color: white;
    border: 3px solid white;
    padding: 10px;
    margin: auto;
}

h2.background{
    width: 564px;
	height: 523px;
	background-color: purple;
	background-size: contain;
	background-position: center;
    text-align: left;
    color: white;
    border: 3px solid white;
    padding: 10px;
    margin: auto;
}
